@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.projects {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 0;

  &__heading {
    margin-top: 6.5rem;
  }
}
