@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.projects {
  position: relative;
  display: flex;
  gap: 10vh;
  flex-direction: column;
  z-index: 0;

  @include desktop {
    gap: 2rem;
  }

  &__heading {
    margin-top: 6.5rem;
  }
}
