@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.projects-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem 4rem;
  gap: 1.5rem;
  transition: 1s ease;

  @include desktop {
    flex-direction: row;
    align-items: center;
    gap: 1rem
  }

  &__image {
    display: flex;
    justify-content: center;
    height: 80%;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    object-fit: cover;

    @include tablet{
      width: 90%;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__text {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  &__tech {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    gap: 1rem;
    flex-wrap: wrap;

    @include tablet {
      justify-content: flex-start;
    }

    @include desktop{
      justify-content: space-around;
      width: 30vw;
    }
  }

  &__button-container {
    display: flex;
    justify-content: center;
    gap: 2rem;

    @include tablet {
      justify-content: flex-start;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid black;
    font-size: 1.25rem;
    padding: 0.5rem;
    transition: 0.3s ease;

    &:hover {
      background-color: black;
      color: white;
    }
  }
}

.mobile {
  display: flex;

  @include desktop {
    display: none;
  }
}

.desktop {
  display: none;

  @include desktop {
    display: flex;
  }
}