@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.navigation {
  position: sticky;
  top:0;
  display: flex;
  justify-content: right;
  padding: 0.25rem 8%;
  background-color: #3b4252;
  opacity: 0.9;
  backdrop-filter: blur(1.25rem);

  &__list {
    display: flex;
    gap: 2rem;
    font-size: 1.5rem;
    list-style: none;

    &-item {
      color: white;
    }
  }
}
