@use "../../styles/partials/fonts";
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.navigation {
  position: sticky;
  top:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $background-primary;
  opacity: 0.9;
  backdrop-filter: blur(1.25rem);
  z-index: 1000;
  padding: 0.25rem 10%;
  transition: ease-in 1s;

  @include desktop{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__hamburger{
    padding: 0;
    border: none;
    background: none;
    font-size: 1.5rem;
    cursor: pointer;
    transition: ease 1s;

    &:hover{
      scale: 1.03;
    }

    @include desktop{
      display: none;
    }

    &-container{
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    &-list{
      display: flex;
      flex-direction: column;
      gap: 0.4rem;
      animation: fadeInTop 0.5s ease-in-out;
    }
  }

  &__home{
    font-weight: 700;
    transition: ease 0.3s;

    @include tablet{
      font-size: 1.15rem;
    }

    @include desktop{
      font-size: 1.25rem;
    }

    @include desktop-xl{
      font-size: 1.4rem;
    }

    &:hover{
      color: $text-secondary
    }
  }

  &__list {
    padding: 0;
    gap: 2rem;
    font-size: 1rem;
    list-style: none;
    display: none;

    @include tablet{
      font-size: 1.15rem;
      gap: 3rem;
    }

    @include desktop{
      display: flex;
    }

    @include desktop-xl{
      font-size: 1.25rem;
      gap: 4rem;
    }

    &-item {
      color:$text-primary;

      &:hover{
        color:$text-secondary;
        transition: 0.3s ease;
      }
    }

  }

  @keyframes fadeInTop {
    from {
      opacity: 0;
      transform: translateY(-9.75rem);
    }
    to {
      opacity: 1;
    }
  }
}
