@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 0;
  width: 100%;
  padding: 3rem 0;

  &__heading {
    font-weight: 500;
    margin-top: 3rem;

    @include desktop-xl {
      margin-top: 6rem;
    }
  }

  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;

    @include tablet {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: row;
    }
  }
}
