@use "./styles/partials/colors" as *;
@use "./styles/partials/mixins" as *;
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

*, ::before,::after {
  box-sizing: border-box;
}

h1, h2, h3, p {
  color: white;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 2rem;

  @include tablet {
    font-size: 3rem;
  }
}

p {
  font-size: 1rem;

  @include tablet {
    font-size: 1.125rem;
  }
}

a {
  text-decoration: none; /* no underline */
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "open-sans", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.main {
  background-color: $background-primary;
  padding: 2rem 8%;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  min-height: 100vh;
}
