@use "./styles/partials/colors" as *;
@use "./styles/partials/mixins" as *;
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*, ::before, ::after {
  box-sizing: border-box;
}

h1, h2, h3, p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none; /* no underline */
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "open-sans", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.main{
  background-color: $background-primary;
  padding: 2rem 8%;
}

.section{
  display: flex;
  justify-content: center;
  color: white;
  min-height: 100vh;
}