@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.particle-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  height: 100vh;

  &__heading {
    color: $text-primary;
    font-weight: 400;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
    animation: fadeInRight 1s ease-in-out;

    @include tablet {
      font-size: 3rem;
      margin-bottom: 1.5rem;
    }

    @include desktop {
      font-size: 4rem;
    }

    &--left {
      @extend .particle-background__heading;
      animation: fadeInLeft 1s ease-in-out;
    }

    &--highlight {
      color: $text-secondary;
      font-weight: 700;
    }

    &--hello {
      font-weight: 700;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 1rem;
    text-decoration: none;
    font-size: 1.25rem;
    border-radius: .625rem;
    color: $text-secondary;
    padding: 1rem 2rem;
    border: 0.25rem solid $text-secondary;
    animation: fadeInBottom 1s ease-in-out;

    @include tablet {
      font-size: 1.5rem;
    }

    &:hover {
      transition: 0.5s ease;
      background-color: $text-secondary;
      color: $text-primary;
    }
  }

  @keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(18.75rem);
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translateX(-18.75rem);
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeInBottom {
    from {
      opacity: 0;
      transform: translateY(9.75rem);
    }
    to {
      opacity: 1;
    }
  }
}
